.settings/
.idea/
.bpmn/
.gradle/
.metadata/
classes/
bin/
build/
webapps/
common.jar
*.class
*.log
.classpath
*.bak
.project
*.DS_Store
*.MF
PCCIMS.iml
PCCIMS.ipr
PCCIMS.iws
web.iml
/target/
/mybatis-generator-core/target/
/Mapper-master/target/
